
path.abundance.C-NE_shikoku{
	stroke: #FF0000;
}

path.abundance.W-NE_shikoku{
	stroke: #880000;
}

path.abundance.E-NE_shikoku{
	stroke: #FF8888;
}

path.abundance.C_shikoku{
	stroke: #00FF00;
}

path.abundance.C-NW_shikoku{
	stroke: #0000FF;
}

path.abundance.W-NW_shikoku{
	stroke: #000088;
}

path.abundance.E-NW_shikoku{
	stroke: #0088FF;
}

path.abundance.OZ-SW_shikoku{
	stroke: #8888FF;
}

path.abundance.AZR-SW_shikoku{
	stroke: #6666dd;
}

path.abundance.SE_shikoku{
	stroke: #FF8800;
}

path.abundance.SE_Kii,
path.abundance.SW_Kii,
path.abundance.Osaka{
	stroke: #FFAA00;
}

path.abundance.Shitara{
	stroke: #9900ff;
}

path.abundance.Kyushu{
	stroke: #999999;
}

path.abundance.Kyushu_Mesozoic{
	visibility:hidden;
}

path.abundance.Reserver{
	stroke: #005500;
}

path.abundance.Model{
	stroke: #040
}



circle.Harker.C-NE_shikoku{
	fill: #FF0000;
}


circle.Harker.W-NE_shikoku{
	fill: #880000;
}

circle.Harker.E-NE_shikoku{
	fill: #FF8888;
}

circle.Harker.C_shikoku{
	fill: #00FF00;
}

circle.Harker.C-NW_shikoku{
	fill: #0000FF;
}

circle.Harker.W-NW_shikoku{
	fill: #000088;
}

circle.Harker.E-NW_shikoku{
	fill: #0088FF;
}

circle.Harker.OZ-SW_shikoku{
	fill: #8888FF;
}

circle.Harker.AZR-SW_shikoku{
	fill: #6666dd;
}

circle.Harker.SE_shikoku{
	fill: #FF8800;
}

circle.Harker.SE_Kii,
circle.Harker.SW_Kii,
circle.Harker.Osaka{
	fill: #FFAA00;
}




circle.Harker.Shikoku_Basin,
circle.Harker.Basement{
	fill: #ffffff;
	stroke: #bbbbbb;
}


circle.Harker.Shitara{
	fill: #9900ff;
}

circle.Harker.Kyushu{
	fill: #999999;
}

circle.Harker.Kyushu_Mesozoic{
	visibility:hidden;
}

circle.Harker.Reserver{
	fill: #005500;
	stroke: #000000;
}

circle.Harker.Model{
	fill: #fff;
	stroke: #040;
}


td.C-NE_Shikoku{
	color: #FF0000;
}

td.W-NE_shikoku{
	color: #880000;
}

td.E-NE_shikoku{
	color: #FF8888;
}

td.C_shikoku{
	color: #00FF00;
}

td.C-NW_shikoku{
	color: #0000FF;
}

td.W-NW_shikoku{
	color: #000088;
}

td.E-NW_shikoku{
	color: #0088FF;
}

td.OZ-SW_shikoku{
	color: #8888FF;
}

td.OZ-SW_shikoku{
	color: #6666dd;
}

td.SE_shikoku{
	color: #FF8800;
}

td.SE_Kii,
td.SW_Kii,
td.Osaka{
	color: #FFAA00;
}

td.Shikoku_Basin,
td.Basement{
	color: #bbbbbb;
}


td.Shitara{
	color: #9900ff;
}

td.Kyushu{
	color: #999999;
}

td.Kyushu_Mesozoic{
	visibility:hidden;
}

td.Reserver{
	color: #005500;
}

td.Model{
	color: #040;
}


.Harker.NorthernRidge{
	fill: #ff0000;
}

.Harker.SouthernRidge{
	fill: #0000ff;
}

.Harker.MarianaIslandArc{
	fill: #00ff00;
}

.Harker.Scottia{
	fill: #000;
}